p {
	font-size: 100%;
}
a {
	color: purple;
}
html,body {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	height: 100%;
	margin: 0;
	padding: 0;
	color: black;
}
hr {
	border-color: black;
  width: 100%;
}
/*---------------------------------------------------------*/


.wrapper {
	position:absolute;
    height:100%;
    width:100%;
}

.content {
	background-color: white;
	margin-top: 70px;

}

/*---------------------------------------------------------*/
.contentpiece {
  background-color: white;
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
  margin-bottom: 15%;
  text-align: left;
  float: left;
}

#about {
  background-color: white;
	padding-top: 3%;
}
#projects {
}
#blog {
  overflow: hidden;
}
#resume {
	
}
#contact {
  padding-bottom: 20%;
}



.img-list {
  text-align: center;
}

ul.private {
  width: 45%;
  display: inline-block;
  overflow: hidden;
  float: left;
}
ul.business {
  width: 45%;
  display: inline-block;
  overflow: hidden;
  float: left;

}

/*---------------------------------------------------------*/
.footer {
	background-color: #efefef;
	/*padding-top: 1.5%;*/
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
  max-height: 25%;
	text-align: center;
}
/*---------------------------------------------------------*/
.socialIcons {
	margin: auto;
    width: 18%;
}

img.social{
	padding: 4%;
}

#contact_form {
	background-color: #efefef;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 2.5%;
	padding-right: 3%;
	border-radius: 10px;
	width: 40%;
}

/*-----------------------------*/
/* Nav Bar                     */
/*-----------------------------*/
#navBar {
  list-style:none;
  margin:20;
  padding:0;
  text-align:center;
  width: 100%;
  position: fixed;
  z-index: 200;


}
#navBar ul {
  margin: 0;
  padding: 0;   
  background-color: #efefef; 


}
#navBar li {
  display:inline;
  background-color: #efefef;
  color: #efefef;
  list-style-type: none;


}
#navBar li a {
  display:inline-block;
  text-decoration: none;
  color: black;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-top: 25px;
  font-weight: normal;
  font-size: 90%;
  letter-spacing: 4px;


}
#navBar li a:hover {
   text-decoration: none;
   color: blue;
   opacity: 0.5;

  
}


/*-----------------------------*/
/* Trans Box                   */
/*-----------------------------*/

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.2;
  filter: alpha(opacity=20); /* For IE8 and earlier */
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

















